# From our manifest.json for our custom component
pillow<=11.2.1
numpy
isal==1.7.2
psutil-home-assistant==0.0.1
janus==2.0.0


# Strictly for tests
# We should always use the latest version to make sure we're testing against the latest version of Home Assistant
pytest-homeassistant-custom-component>=0.13.128
# By avoiding to pin to any of these, they can be automatically be managed by pytest-homeassistant-custom-component (above)
pytest-asyncio
pytest-aiohttp
coverage
pytest
pytest-cov
pytest-socket
pytest-mqtt
